<% provide(:title, "About Page") %>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>We are an online Food Delivery restaurant specialized in preparing organic fresh food for our customer's every single meal.



We farm all the vegetables and fruits that we use for our dishes and we are delighted to share it with all of you.

Our company has started during 2020 Pandemic times, therefore, Pandemic name.
We strongly advise you not to be scared of it- as we have all overcome the Pandemic and we've got out of it much braver then ever before.
So, do have the courage of tasting our delicious! You will be delighted with it!

Our Menu includes a variaty of food from European to Asian and American dishes.

You can begin your day with our extraordinary Breakfasts and continue your day with our Starters, First/Second Dishes, Soups, Salads and Deserts.
We do offer drinks to go along with your food, too.

From non-alcoholic to alcoholic drinks, you can find something to easy your thirst along with the meals.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
                                <img src="/images/Flowers2.jpg" alt="Cristina" style="width:100%">
      <div class="container">
        <h2>Cristina Bogdan</h2>
        <p class="title">CEO & Founder</p>
        <p>A passionate food creator</p>
        <p>cristinabogdan@yahoo.com</p>
        
        
          <%= link_to 'contact',"/tocontact" , :class => "button", :role => "button" %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
                              <img src="/images/Flowers3.jpg" alt="Tengfei" style="width:100%">
      <div class="container">
        <h2>Tengfei Cui</h2>
        <p class="title">Art Director</p>
        <p>An Asian Food lover and chef</p>
        <p>tengfeicui@ncirl.com</p>
        <%= link_to 'contact',"/tocontact" , :class => "button", :role => "button" %>
   
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/images/Flowers1.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Anjali Singh</h2>
        <p class="title">Designer</p>
        <p>The best eater ever</p>
        <p>marilesecrete@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>