<% provide(:title, "Home Page") %>

<div class="mainCont">
    
    
    
<%= image_tag("Tiramisu.png", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    
<h1>Home</h1>
<p>Welcome to Pandemic Deliveroo-Your best choice of food!</p>
<br>
<br>
<p>Enjoy Our Food ! Enjoy your every single meal, enjoy your every single day !</p>
</div>
