<% provide(:title, "Home Page") %>

<div class="mainCont">
    
    
    
<%= image_tag("Tiramisu.png", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
    
<h1>Home</h1>
<p>Welcome to Pandemic Deliveroo-Your best choice of food!</p>
<br>
<br>
<p>Enjoy Our Food ! Enjoy your every single meal, enjoy your every single day !</p>
<a href="https://www.facebook.com/Profiledublin/" target="_blank">
    <i class="fa fa-facebook-square" style="font-size:36px"> </i>
</a>

</div>

